@import '../../vendors/variables';

.quiz-header-info {
    background: rgba($black, 0.1);
    padding: 24px 48px;
    margin-bottom: 60px;

    .title {
        text-align: center;
        font-size: 2em;
    }
}

.question-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

    .question {
        font-size: 1.2em;
        font-weight: 400;
    }

    .options {
        list-style-type: upper-alpha;
        list-style-position: inside;
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        .option {
            background: #FAFAFA;
            color: #454545;
            box-shadow: 0 4px 4px rgba($black, 0.1);
            margin-bottom: 8px;
            padding: 12px 20px;
            cursor: pointer;
            position: relative;
            border: 1px solid rgba($black, 0.2);
            transition: 0.15s;

            &::marker {
                color: $theme;
            }

            &:hover {
                background: rgba($theme, 0.2);

            }
        }

        .active {
            background: rgba($theme, 0.8);
            color: $white;

            &::marker {
                color: $white;
            }

            &:hover {
                background: rgba($theme, 0.8);
            }
        }
    }

    .next-button {
        padding: 12px 20px;
        margin: 16px auto 0 auto;

        width: 100%;
        max-width: 240px;
        background: rgba($theme, 0.8);
        border: 0;
        color: $white;
        font-weight: 700;
        font-size: 1em;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Jost', sans-serif;
        transition: 0.1s;

        &:hover {
            background: rgba($theme, 0.8);
            box-shadow: 0 0 20px rgba($theme, 0.8);
        }
    }
}